<h1>{{ item.title }}</h1>
<p>Price: {{ item.selling_price }} Taka</p>
<p>SKU: {{ item.sku }}</p>
<p>{{ item.remarks }}</p>

<h3>Variations</h3>
<ul>
    {% for variation in variations %}
        <li>{{ variation.AttributeTerm }} - {{ variation.selling_price }} Taka</li>
    {% endfor %}
</ul>

<h3>Related Products</h3>
<ul>
    {% for related_item in related_items %}
        <li>
            <a href="{% url 'App_Ecommerce:product_detail' related_item.slug %}">{{ related_item.title }}</a>
        </li>
    {% endfor %}
</ul>
